<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet/less" type="text/css" href="/static/less/dlsaa.less" />
  </head>
  <body>

    <!-- INDEX TEMPLATE -->
    <script type="text/x-handlebars">
      <nav class="navbar navbar-default" role="navigation">
        <div id="dlsaa-navbar-container" class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
              DLSAA App Control Panel
            </a>
          </div>

          <div class="collapse navbar-collapse">

            <!-- NAV BAR ITEMS, LEFT SIDE -->
            <ul class="nav navbar-nav">
              {{#linkTo 'index' tagName='li'}}
                <a {{bindAttr href='view.href'}}>Home</a>
              {{/linkTo}}
              {{#linkTo 'businesses' tagName='li'}}
                <a {{bindAttr href='view.href'}}>Partnered Businesses</a>
              {{/linkTo}}
            </ul>

            <!-- NAV BAR ITEMS, RIGHT SIDE -->
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div> <!-- end navbar-collapse -->

        </div> <!-- end dlsaa-navbar-container -->
      </nav>

      {{outlet}}
    </script>

    <script type="text/x-handlebars" id="businesses">
      <div class="container">

        <!-- left-side panel -->
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              Businesses

              <button class="btn btn-info btn-xs pull-right">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>

            <ul class="list-group">
              {{#each businesses}}
                {{#linkTo 'business' this classNames='list-group-item'}}
                  {{name}}
                {{/linkTo}}
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="col-md-9">
          {{outlet}}
        </div>
      </div>
    </script>


    <script type="text/x-handlebars" id="business">
      <div class="panel panel-primary">

        <div class="panel-heading">
          {{name}}

          <button class="btn btn-danger btn-xs pull-right">
            <span class="glyphicon glyphicon-remove"></span>
            Delete
          </button>
        </div>

        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputBusinessName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                {{input type='text' value=name classNames='form-control'}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputDiscountInfo" class="col-sm-2 control-label">Discount Info</label>
              <div class="col-sm-10">
                {{input type='text' value=discount_description classNames='form-control'}}
              </div>
            </div>
          </form>

          <h2>Branches</h2>
          <table class="table table-striped">
            <tr>
              <th>Address</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>

            {{#each branches}}
              <tr>
                <td>{{address}}</td>
                <td>{{latitude}}</td>
                <td>{{longitude}}</td>
              </tr>
            {{/each}}
          </table>
        </div>

      </div>
    </script>

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/handlebars/handlebars.js"></script>
    <script type="text/javascript" src="/static/lib/ember/ember.js"></script>
    <script type="text/javascript" src="/static/lib/less.js/dist/less-1.5.0.js"></script>

    <script type="text/javascript" src="/static/scripts/app.js"></script>
  </body>
</html>